img{
    width: 50px;
    height: 50px;
    vertical-align: middle;
    border-radius: 50%;
}
.add-items{
    width: 60%;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.add-ingredient{
    width: 45%;
    display: inline-block;
    padding: 10px 5px;
    border-radius: 10px;
    margin: 5px;
    position: relative;
}
.ingredient-block{
    border: 1px solid grey;
    padding: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 15px 0 #000000;
    box-shadow: 1px 4px 7px -3px #000000;

}
.title-name,
.title-price{
    margin: 0;
    padding: 3px 10px;
    display: inline-block;
}
.delete-btn{
    position: absolute;
    top: 17px;
    right: 13px;
    width: 25px;
    height: 25px;
    display: block;
    background: transparent url("../assets/remove_icon.jpg") 50% 50% no-repeat;
    border-radius: 50%;
    background-size: cover;
    border: none;
}