.add-orders{
    width: 30%;
    border: 1px solid black;
    display: inline-block;
}
.orders-div{
    height: 270px;
    display: flex;
    flex-direction: column;
}
.total-price-title{
    margin: auto auto 0 auto;
    color: #0612c4;

}
.text {
    text-align: center;
    font-size: 15px;
    color: chocolate;
    padding: 0 20%;
}