.order-div{
    padding: 5px;
}
h4{
    margin: 0;
    display: inline-block;
    padding: 0px 5px;
    color: orangered;
    width: 100px;
    }
span{
    display: inline-block;
    margin: 0 20px;
    color: orangered;

}